@model HPlusEcommerce_Web.Data.Entities.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<p>
    @Model.AddressOne
    <br />
    @if (!string.IsNullOrWhiteSpace(Model.AddressTwo))
    {
        @Model.AddressTwo
        <br />
    }
    @Model.City, @Model.State @Model.ZipCode
</p>